{% include 'admin_header.html' %}

<!-- main-slider -->
<div class="main-slider centred">
    <div class="main-slider-carousel owl-carousel owl-theme">
        <div
            class="slide"
            style="background-image: url(/static/images/professional-lighting-equipment-movie-set-with-smoke-air.jpg)"
        >
            <div class="container">
                <div class="content-box">
                    <!-- <div class="top-text">Welcome to Third Eye</div> -->
                    <h1>Welcome to Film Crew Booking</h1>
                    <!-- <div class="slider-btn"><a href="contact.html" class="theme-btn">Contact Us</a></div> -->
                </div>
            </div>
        </div>
        <div class="slide" style="background-image: url(/static/images/professional-camera-tripod.jpg)">
            <div class="container">
                <div class="content-box">
                    <!-- <div class="top-text">Welcome to Third Eye</div> -->
                    <h1>Welcome to Film Crew Booking</h1>

                    <!-- <h1>We are Creative &amp; Digital Agency</h1> -->
                    <!-- <div class="slider-btn"><a href="contact.html" class="theme-btn">Contact Us</a></div> -->
                </div>
            </div>
        </div>
        <div class="slide" style="background-image: url(/static/images/man-filming-with-professional-camera.jpg)">
            <div class="container">
                <div class="content-box">
                    <!-- <div class="top-text">Welcome to Third Eye</div> -->
                    <h1>Welcome to Film Crew Booking</h1>

                    <!-- <h1>We are Creative &amp; Digital Agency</h1> -->
                    <!-- <div class="slider-btn"><a href="contact.html" class="theme-btn">Contact Us</a></div> -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About Area -->
<section class="about-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="about-left">
                    <div class="about-heading">
                        <div class="about-heading-left">
                            <h2 class="text_bg">1984</h2>
                        </div>
                        <div class="about-heading-right">
                            <p>35 years of experience</p>
                            <h3>Our Partnership stories</h3>
                        </div>
                    </div>
                    <p>
                        nvestiga tiones demonstr averunt lectores legere me lius quod ii qua legunt saepius. Claritas est
                        etiam pro cessus dynamicus, qui sequitur mutaety tion em consu etudium awquod he legunt.
                    </p>
                    <div class="about-action">
                        <a href="#">read more <i class="fas fa-long-arrow-alt-right"></i></a>
                    </div>
                    <div class="about-info">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="single-info">
                                    <div class="info-icon"><img src="/static/images/support.png" alt="" /></div>
                                    <div class="info-text">
                                        <h4>24/7 Online <span>Support</span></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="single-info">
                                    <div class="info-icon"><img src="/static/images/target.png" alt="" /></div>
                                    <div class="info-text">
                                        <h4>35 Years of <span>Experience</span></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="single-info">
                                    <div class="info-icon"><img src="/static/images/staff.png" alt="" /></div>
                                    <div class="info-text">
                                        <h4>Creative <span>Staff</span></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
                <div class="about-right">
                    <img src="/static/images/about-2.jpg" alt="about image" class="about-img" />
                    <img src="/static/images/about-1.jpg" alt="" class="about-img" />
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Fun Facts Wrapper -->
<div class="counter">
    <div class="container">
        <div class="row count-p-0">
            <div class="col-lg-3 col-sm-6 plr-0">
                <div class="counter-item">
                    <i class="icon icon-clock"></i>
                    <h3><span class="counter1">7500</span> +</h3>
                    <p>Hours Worked</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 plr-0">
                <div class="counter-item">
                    <i class="icon icon-mobile"></i>
                    <h3><span class="counter1">2500</span> +</h3>
                    <p>Projects Completed</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 plr-0">
                <div class="counter-item">
                    <i class="icon icon-presentation"></i>
                    <h3><span class="counter1">60</span> +</h3>
                    <p>Theme Experts</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 plr-0">
                <div class="counter-item counter-br">
                    <i class="icon icon-trophy"></i>
                    <h3><span class="counter1">150</span> +</h3>
                    <p>Awards Won</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services Wrapper -->
{% include 'footer.html' %}
