      <!-- Footer Wrapper -->
      <footer class="footer">
        <div class="pin-footer-wrapper">
            <div class="container">
                <div class="row">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-4 col-lg-6 col-md-6">
                                <div class="pin-wrapper">
                                    <div class="pin-footer-item-left">
                                        <div class="pin-logo">
                                            <!-- <a href="index.html"><img src="/static/images/logo.png" alt="" /></a> -->
                                            <h1>Film Crew Booking</h1>
                                        </div>
                                        <div class="pin-footer-item-inner">
                                            <p>
                                                Lorem Ipsum is not simply random text It has roots in a piece of
                                                classical Latin literature Latin.
                                            </p>
                                        </div>
                                        <div class="pin-footer-social">
                                            <ul class="inline-block">
                                                <li>
                                                    <a href=""><i class="fab fa-facebook-f"></i></a>
                                                </li>
                                                <li>
                                                    <a href=""><i class="fab fa-twitter"></i></a>
                                                </li>
                                                <li>
                                                    <a href=""><i class="fab fa-pinterest-p"></i></a>
                                                </li>
                                                <li>
                                                    <a href=""><i class="fab fa-facebook-f"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>
                        © Copyright <span id="year"></span> FCB Bootstrap Template by
                        <span class="color">SBTechnosoft</span>.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- jQuery -->
    <script src="/static/js/jquery-min.js"></script>
    <!-- popper -->
    <script src="/static/js/popper.min.js"></script>
    <!-- bootstrap -->
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- Owl -->
    <script src="/static/js/owl.js"></script>
    <!-- Jquery nav -->
    <script src="/static/js/jquery.nav.js"></script>
    <!-- Counterup -->
    <script src="/static/js/jquery.counterup.min.js"></script>
    <!-- Waypoints -->
    <script src="/static/js/waypoints.min.js"></script>
    <!-- Plugins -->
    <script src="/static/js/plugins.js"></script>
    <!-- jquery.slicknav.min -->
    <script src="/static/js/jquery.slicknav.min.js"></script>
    <!-- custom -->
    <script src="/static/js/custom.js"></script>
</body>
</html>
